* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root {
  --red: hsl(10, 79%, 65%);
  --blue: hsl(186, 34%, 60%);
  --brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --pale-orange: hsl(33, 100%, 98%);

  --chart-width: 37.5vw;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--cream);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

header {
  background: var(--red);
  padding: 3rem;
  display: flex;
  align-items: center;
  width: var(--chart-width);
  border-radius: 1rem;
  justify-content: space-between;
}

.balance-wrapper {
  display: flex;
  color: #fff;
  flex-direction: column;
}

.balance-wrapper .my-balance {
  font-weight: 400;
  font-size: 1.8rem;
}

.balance-wrapper .balance {
  font-weight: 700;
  font-size: 2rem;
}

.chart {
  width: var(--chart-width);
  padding: 2.5rem 3.25rem;
  border-radius: 1rem;
  background: var(--pale-orange);
}

.spending-from-last-seven-days {
  font-size: 2.6rem;
  color: var(--brown);
  font-weight: 700;
}

.chart-expenses {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7rem;
}

.chart-expenses div {
  align-self: flex-end;
  position: relative;
}

.chart-expenses div .expense-cost {
  border-radius: 0.4rem;
  padding: 1rem;
  color: #fff;
  letter-spacing: 0.05rem;
  font-weight: 700;
  position: absolute;
  top: -5rem;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 0.2s ease;
  background-color: var(--brown);
}

.chart-expenses div .day-text {
  color: var(--medium-brown);
  font-size: 1.6rem;
  text-align: center;
  margin-top: 0.4rem;
}

.chart-expenses .graph-column {
  width: 5rem;
  height: 10rem;
  background: var(--red);
  border-radius: 0.5rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.chart-expenses .graph-column:hover ~ .expense-cost {
  opacity: 1;
}

.chart-expenses .graph-column:hover {
  filter: brightness(1.2);
}

.chart-expenses .graph-column.highest-expense {
  background: var(--blue);
}

.divisor {
  width: 100%;
  height: 2px;
  background-color: var(--cream);
  margin: 2rem 0;
}

.total {
  display: flex;
  justify-content: space-between;
}

.this-month {
  display: flex;
  flex-direction: column;
}

.total .this-month-text {
  font-size: 1.6rem;
  color: var(--medium-brown);
}

.total .this-month-value {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--brown);
}

.plus-from-last-month {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.plus-from-last-month-text {
  font-size: 1.6rem;
  color: var(--medium-brown);
}

.plus-from-last-month-value {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--brown);
}

.attribution {
  font-size: 11px;
  text-align: end;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1250px) {
  :root {
    --chart-width: 50vw;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --chart-width: 65vw;
  }
}

@media screen and (max-width: 675px) {
  :root {
    --chart-width: 80vw;
  }
}

@media screen and (max-width: 560px) {
  :root {
    --chart-width: 95vw;
  }

  .chart-expenses .graph-column {
    width: 4rem;
  }
}

@media screen and (max-width: 390px) {
  .chart-expenses .graph-column {
    width: 3.25rem;
  }
}

@media screen and (max-width: 350px) {
  .chart-expenses .graph-column {
    width: 2.8rem;
  }
}
